.maincontainer{
    width:100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dosis", sans-serif;
 }
 .box{
     width:800px;
     height: auto; 
     background:#fff;
     border-radius: 10px;
     
     padding-bottom: 10px;
 }
 .heading{
    font-weight: bolder;
    font-size: 18px;
    margin-left: 7px;
 }
 .imagesize{
    width: 25px;
    height: 25px;
 }
 .titlediv{
    display: flex;align-items: center;margin:8px 8px 4px 8px;
 }
 .divider{
    width:150px;height: 1px; border:1px solid #8e44ad;
 } 